<!doctype html>
<html>
<head>
    <title>Add Host Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add New Host Record</h1>

    <form method="POST">

        <label>Host Name</label>
        <input type="text" name="host_name" required><br>

        <label>Host Species Name</label>
        <input type="text" name="species_name"><br>

        <label>Genus:</label>
        <input type="text" name="dwc_genus"><br>

        <label>Subgenus:</label>
        <input type="text" name="dwc_subgenus"><br>

        <label>Specific Epithet:</label>
        <input type="text" name="dwc_specificEpithet"><br>

        <label>Infraspecific Epithet:</label>
        <input type="text" name="dwc_infraspecificEpithet"><br>

        <label>Scientific Name Authorship:</label>
        <input type="text" name="dwc_scientificNameAuthorship"><br>

        <label>Tribe:</label>
        <input type="text" name="dwc_tribe"><br>

        <label>Supertribe:</label>
        <input type="text" name="supertribe"><br>

        <label>Subfamily:</label>
        <input type="text" name="dwc_subfamily"><br>

        <label>Family:</label>
        <input type="text" name="dwc_family"><br>

        <label>Superfamily:</label>
        <input type="text" name="dwc_superfamily"><br>

        <label>Order:</label>
        <input type="text" name="dwc_order"><br>

        <label>Vernacular Name:</label>
        <input type="text" name="dwc_vernacularName"><br>

        <label>Entry Source:</label>
        <input type="text" name="entry_source"><br>

        <label>Entry By:</label>
        <input type="text" name="entry_by"><br>

        <button type="submit">Save Host</button>
    </form>

    <p><a href="/">← Back to search</a></p>
</body>
</html>
