<!doctype html>
<html>
<head>
    <title>Search Interactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Search Host-Parasite Interactions</h1>

    <form method="POST">
        <label for="host_name">Host name:</label>
        <input type="text" name="host_name" id="host_name" placeholder="e.g. Quercus robur"><br>
    
        <label for="parasite_name">Parasite name:</label>
        <input type="text" name="parasite_name" id="parasite_name" placeholder="e.g. Curculio nucum"><br>
    
        <button type="submit">🔍 Search</button>
    </form>

    <p><a href="{{ url_for('main.insert_form') }}">➕ Insert a new host-parasite relation</a></p>
    <p><a href="{{ url_for('main.relations') }}">➕ View all host-parasite relations</a></p>
    <p><a href="{{ url_for('main.add_parasite') }}">🪲 Add a new parasite record</a></p>
    <p><a href="{{ url_for('main.list_parasites') }}">🪲 View all parasite records</a></p>
    <p><a href="{{ url_for('main.add_host') }}">🌿 Add a new host plant record</a></p>
    <p><a href="{{ url_for('main.list_hosts') }}">🌿 View all host records</a></p>






    {% if results is not none %}
        <h2>Results</h2>
        {% if results %}
        <ul>
            {% for r in results %}
                <li>
                    <a href="{{ url_for('main.detail', interaction_id=r.interaction_id) }}">
                        {{ r.host.host_name }}  ↔ 
                        {{ r.parasite.parasite_name }} 
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
</body>
</html>
